{{ define "main" }}
<article>
  <section class="book-post-section">
    <h1 class="book-post-title">
      {{ partial "docs/title" . }}
    </h1>
    <div class="book-post-meta">
      {{ with .Date }}{{ .Format "2006-01-02" }}{{ end }}
    </div>
    <div class="book-post-content markdown-inner">
      {{- .Content -}}
    </div>
  </section>
</article>
{{ end }}

{{ define "footer" }}
  {{ partial "docs/post-prev-next" . }}
{{ end }}

{{ define "toc-container" }}
<aside class="book-toc">
  <div class="book-toc-content">
    {{ .TableOfContents }}
  </div>
</aside>
{{ end }}
