{{ define "main" }}
<article class="markdown book-article">
  {{ range where .Site.RegularPages "Section" "posts" }}
  <section class="book-post-section">
    <h2 class="book-post-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <div class="book-post-meta">
      {{ with .Date }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2006-01-02" }}</time>{{ end }}
    </div>
    <div class="book-post-content">
      {{ .Summary }}
    </div>
    <a href="{{ .RelPermalink }}" class="read-more">阅读全文</a>
  </section>
  {{ end }}
</article>
{{ end }}

{{ define "toc-container" }}{{ end }}